{% load static %}
<main class="signup__main">
    <img class="signup__bg" src="{% static 'images/signup-bg.png' %}" alt="bg">

    <div class="container">
        <div class="signup__container">
            <div class="signup__logo">
                <a href="#"><img src="{% static 'images/Logo_Forum.svg' %}" alt="logo">Unity</a>
            </div>

            <div class="signup__head">
                <h3>Create a New Unity Account</h3>
                <p>By singin up you can start posting, replaying to topics, earn badges, favorite, vote topics and many more.</p>
            </div>
            <div class="signup__form">
                <form method="post" action="{% url 'signup' %}">
                    {% if registration_form.non_field_errors %}
                        {{ registration_form.non_field_errors }}
                    {% endif %}
                    {% csrf_token %}
                <div class="conteiner">
                <div class="signup__section">
                    {{ registration_form.username.errors }}
                    <p>Username</p>
                    {{ registration_form.username }}
                </div>
                <div class="signup__section">
                    {{ registration_form.email.errors }}
                    <p>email</p>
                    {{ registration_form.email }}
                </div>
                <div class="signup__section">
                    <p>password</p>
                    {{ registration_form.password }}   
                </div>
                <div class="signup__section">
                    <p>password_repeat</p>
                    {{ registration_form.password_repeat }}    
                </div>
                <div class="signup__section">
                    <p>Upload avatar</p>
                    {{ registration_form.icon}}
                </div>
                <input type="submit" class="btn btn-success" value="Create New Account">
                </div>
                </form>
            </div>
        </div>
    </div>
</main>